.MaterialInput {
  position: relative;
  margin-top: 2rem;
  width: 100%;

  &__Input {
    width: 100%;
    font-size: 18px;
    padding: 10px 0;
    display: block;
    border: none;
    color: rgb(59, 59, 59);
    border-bottom: 1px solid #757575;
  }
  &__Input:focus {
    outline: none;
  }

  /* LABEL ======================================= */
  label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
  }

  /* active state */
  &__Input:focus ~ label,
  &__Input:not(:placeholder-shown) ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264ae;
  }

  /* BOTTOM BARS ================================= */
  &__Bar {
    position: relative;
    display: block;
  }
  &__Bar:before,
  &__Bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264ae;
    transition: 0.2s ease all;
  }
  &__Bar:before {
    left: 50%;
  }
  &__Bar:after {
    right: 50%;
  }

  /* active state */
  &__Input:focus ~ &__Bar:before,
  &__Input:focus ~ &__Bar:after {
    width: 50%;
  }

  /* HIGHLIGHTER ================================== */
  &__Highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  /* active state */
  &__Input:focus ~ &__Highlight {
    animation: inputHighlighter 0.3s ease;
  }
}
