@import "../../../styles/mixins";

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.BackofficeNav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 18rem;
  height: 100vh;
  background-color: #29313d;
  display: flex;
  flex-direction: column;

  @include mobile {
    width: 100%;
    z-index: 5;
  }

  &__Close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0;
    cursor: pointer;

    svg {
      height: 1.5rem;
      width: 1.5rem;
      color: white;
    }
  }

  &__Head {
    display: flex;
    justify-content: center;

    &__Image {
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      margin: 1.5rem 0;
    }
  }

  &__Link {
    cursor: pointer;
    padding: 1.5rem;
    color: white;
    text-decoration: none;
    border-top: 1px solid #404c5f;

    &:hover,
    &--active {
      background-color: #1c222b;
    }
  }

  &__Button {
    position: relative;
    margin: 2rem auto 0;
    height: 50px;
    width: 200px;
    background-image: none;
    border: none;
    outline: none;
    background-color: #335c9b;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:active::after {
      opacity: 0.3;
    }

    &__Spinner {
      display: block;
      width: 34px;
      height: 34px;
      position: absolute;
      top: 8px;
      left: calc(50% - 17px);
      background: transparent;
      box-sizing: border-box;
      border-top: 4px solid white;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-radius: 100%;
      animation: spin 0.6s ease-out infinite;
    }

    &--loading {
      border-radius: 50px;
      width: 50px;
    }
    &--loading::after {
      width: 40px;
      border-radius: 100%;
    }

    &:hover {
      background-color: #3563a8;
    }
  }
}
