@import "../../styles/mixins";
@import "../../styles/variables";

.Backoffice {
  display: flex;
  justify-content: flex-end;

  @include mobile {
    display: block;
  }

  &__Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $base-color;
    padding: 1.6rem;
    background-color: #29313d;

    &__Logo {
      height: 4rem;
      border-radius: 50%;
    }

    &__Button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    svg {
      height: 3rem;
      width: auto;
    }
  }

  &__Content {
    width: calc(100% - 28rem);
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      width: 100%;
    }
  }

  .headroom-wrapper {
    width: 100%;
  }
}
