.Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__Logo {
    height: 30rem;
    width: 30rem;
  }

  &__Link {
    position: absolute;
    top: 2rem;
    right: 2rem;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
  }
}
