@import "../../../styles/mixins";

.HandleLogo {
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .ImageUploader {
    margin-top: 0;
  }
}
