@import "../../../styles/mixins";

.HandleArticles {
  width: 100%;
  padding: 2.5rem;

  &__Content {
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-auto-rows: minmax(40vh, 30rem);
    grid-column-gap: 2.5rem;
    row-gap: 4rem;

    @include mobile {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      grid-auto-rows: minmax(40vh, 30rem);
      row-gap: 3rem;
    }

    &__Item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        margin-top: 1.5rem;
      }

      &__Image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

        button {
          margin: 0;
        }
      }
    }
  }
}
