@import "utils/variables";
@import "utils/mixins";

.HomeNav {
  position: fixed;
  left: 0;
  height: 100%;
  z-index: 10;
  width: 23%;

  @include large-desktop {
    width: 19%;
  }

  @include tablet {
    width: 28%;
  }

  @include mobile {
    left: -100%;
    width: 100%;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  &__Content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: 82%;
      padding-right: 18%;
      padding-top: 2rem;
      left: 0;
    }

    &__Close {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0;
      cursor: pointer;

      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &__Logo {
      width: 70%;
    }

    &__Link {
      color: #d6afa8;
      margin-top: 3rem;
      text-decoration: none;
      color: black;
      font-size: 1.5rem;

      &:hover {
        color: #dd8a37;
      }
    }
  }
  &--withMenu {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    left: 0;
    background-color: rgba(255, 255, 255, 0.767);
  }
}
