/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.Register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem 3rem 3rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 0.4rem;

    &__Title {
      margin: 0;
    }

    &__Box {
      position: relative;
      margin-top: 2rem;

      &__Input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        border: none;
        color: rgb(59, 59, 59);
        border-bottom: 1px solid #757575;
      }
      &__Input:focus {
        outline: none;
      }

      /* LABEL ======================================= */
      label {
        color: #999;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
      }

      /* active state */
      &__Input:focus ~ label,
      &__Input:not(:placeholder-shown) ~ label {
        top: -20px;
        font-size: 14px;
        color: #5264ae;
      }

      /* BOTTOM BARS ================================= */
      &__Bar {
        position: relative;
        display: block;
      }
      &__Bar:before,
      &__Bar:after {
        content: "";
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264ae;
        transition: 0.2s ease all;
      }
      &__Bar:before {
        left: 50%;
      }
      &__Bar:after {
        right: 50%;
      }

      /* active state */
      &__Input:focus ~ &__Bar:before,
      &__Input:focus ~ &__Bar:after {
        width: 50%;
      }

      /* HIGHLIGHTER ================================== */
      &__Highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
      }

      /* active state */
      &__Input:focus ~ &__Highlight {
        animation: inputHighlighter 0.3s ease;
      }
    }

    &__Submit {
      margin-top: 3rem;
      border: 1px solid rgb(156, 156, 156);
      padding: 1rem 2rem;
      border-radius: 0.3rem;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        background-color: rgb(241, 241, 241);
      }
    }

    &__Error {
      max-width: 17rem;
      color: rgba(255, 0, 0, 0.555);
    }
  }
}
