@import "utils/mixins";

.HandleCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  min-height: 80vh;

  @include mobile {
    padding: 1rem;
  }

  &__List {
    display: flex;
    flex-wrap: wrap;

    @include mobile {
      justify-content: center;
    }

    &__Item {
      position: relative;
      border: 1px solid rgb(216, 216, 216);
      border-radius: 1rem;
      padding: 1rem 2rem;
      margin: 1rem;

      &__Text {
        margin: 0;
        font-size: 1.2rem;
      }
    }
  }

  &__Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 3rem;
    padding: 0 3rem 2rem 3rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 0.4rem;

    @include mobile {
      width: auto;
    }
  }
}
