@import "./mixins";

.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 10rem);

  &__Image {
    width: 80%;

    @include mobile {
      width: 100%;
    }
  }

  &__Description {
    width: 70%;
    margin: 6rem;
    line-height: 2.2rem;
    font-size: 1.6rem;

    p {
      margin: 0;
    }

    @include mobile {
      width: 80%;
      margin: 2rem;
    }

    @include tablet {
      width: 80%;
      margin: 2rem;
    }
  }
}
