.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  min-height: calc(100vh - 10rem);

  &__Title {
  }

  &__Image {
    width: 70%;
  }

  &__Description {
    width: 50%;
    p {
      margin: 0;
    }
  }
}
